// Màu sắc
$primary-color: #ff5722; // Màu chính (cam)
$secondary-color: #4caf50; // Màu phụ (xanh lá)
$background-color: #f4f4f4; // Màu nền

// Font
$font-family: "Arial", sans-serif;
$font-size-base: 14px; // Kích thước font cơ bản

// Khoảng cách
$space-small: 8px;
$space-medium: 16px;
$space-large: 32px;
